@model IEnumerable<CatalogIndexViewModel>

@{
    ViewData["Title"] = "Catalog List";
    var SearchString = ViewBag.SearchString;
    var SearchOrder = ViewBag.SearchOrder;

    //var SearchOrder = string.Empty;
    if (ViewBag.SearchOrder != null )
    {
    }
    else
    {
        SearchOrder = "Asc";
    }
}
<form  action="/Catalog/Index" method="get">

    <h1>

        Master Catalog <span style="Float: right">
            <a asp-action="Create" class="btn btn-sm btn-secondary">Add Catalog Item</a>
        </span>
    </h1>

    Master List of all available Master Catalog arrangements.
    <span style="Float: right">
        <input type="text" id="SearchString" name="SearchString" placeholder="Search.." >
        <button class="btn btn-sm"> <img src="~/images/search-24.png" alt="buttonpng" border="0" /></button>
    </span>
    <script>
        var myvalue = '@ViewBag.SearchString';
        document.getElementById('SearchString').setAttribute('value', myvalue);
    </script>
</form>
<table class="table table-bordered table-sm table-striped table-hover">
    <thead>
        <tr>
        

            <th><a asp-action="Index" asp-route-id="CODE" asp-route-SortOrder="@SearchOrder" asp-route-SearchString="@SearchString">Code</a></th>
            <th><a asp-action="Index" asp-route-id="Name" asp-route-SortOrder="@SearchOrder" asp-route-SearchString="@SearchString">Name</a></th>
            <th><a asp-action="Index" asp-route-id="Description" asp-route-SortOrder="@SearchOrder" asp-route-SearchString="@SearchString">Description</a></th>
            <th><a asp-action="Index" asp-route-id="Size" asp-route-SortOrder="@SearchOrder" asp-route-SearchString="@SearchString">Size</a></th>
            <th class="text-center">Edit</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="5" class="text-center">No Model Data</td></tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Code</td>
                    <td>@p.Name</td>
                    <td>@p.Description</td>
                    <td>@p.SizeCode</td>
                    <td class="text-center"><a asp-action="Update" asp-route-id="@p.CatalogID"><img src="~/images/pencil-2-16.png" /></a></td>
                </tr>
            }
        }
    </tbody>
</table>
