@model IEnumerable<ArrangementIndexViewModel>

@{
    ViewData["Title"] = "Arrangements List";
}

<h1>Arrangement Catalog <a asp-action="Create" class="btn btn-sm btn-secondary">Add Arrangement</a></h1>
Master List of all available arrangements regardless of location.
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th><a asp-action="Index" asp-route-id="CODE">Code</a></th>
            <th><a asp-action="Index" asp-route-id="Name">Name</a></th>
            <th><a asp-action="Index" asp-route-id="Description">Description</a></th>
            <th><a asp-action="Index" asp-route-id="Quantity">Quantity</a></th>
            <th><a asp-action="Index" asp-route-id="Size">Size</a></th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="5" class="text-center">No Model Data</td></tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Code</td>
                    <td>@p.Name</td>
                    <td>@p.Description</td>
                    <td>@p.Quantity</td>
                    <td>@p.SizeCode</td>
                    <td><a asp-action="Update" asp-route-id="@p.ArrangementID">Update</a></td>
                </tr>
            }
        }
    </tbody>
</table>
