@model dynamic
@{
    ViewData["Title"] = "Update Arrangement";
}

<h1>Update Arrangement <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h1>
<form method="post">
    @foreach( Arrangement arrangement in Model.Arrangements)
    {
        <div class="form-group">
            <label>Code:</label>
            @arrangement.Code
        </div>
        <div class="form-group">
            <label >Quantity:</label>
            @arrangement.Quantity
        </div>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" asp-for="@arrangement.Name" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" asp-for="@arrangement.Description" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control" asp-for="@arrangement.Price" />
        </div>
        <div class="form-group">
            <label >Size</label>
            <div class="col-md-10">
                @Html.DropDownListFor(
                x => arrangement.SizeID,
                arrangement.Sizes
                )
            </div>
        </div>
    }
    <p>
        <br />
        <h2>Inventory
        @foreach (Arrangement arrangement in Model.Arrangements)
        {
            <a class="btn btn-sm btn-primary" asp-controller="Arrangement" asp-action="CreateArrangementInventory" asp-route-id="@arrangement.ArrangementID">Add Inventory</a>
        }
        </h2>
    </p>
    List the Inventory items for this arrangement
    <table class="table table-bordered table-striped">
        <tr>
            <th>Code</th>
            <th>Last Used</th>
            <th>Location / Placement </th>
            <th>Update</th>
        </tr>
        @foreach (ArrangementInventory arrangementInventory in Model.ArrangementInventories)
        {
            <tr>
                <td>@arrangementInventory.Code</td>
                <td>@arrangementInventory.LastUsedDisplay</td>
                <td>@arrangementInventory.LocationName</td>
                <td><a asp-action="UpdateArrangementInventory" asp-route-id="@arrangementInventory.ArrangementInventoryID">Update</a></td>
            </tr>
        }
        </table>
        <div class="text-center panel-body">
            <br />
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>
