@using SilkDesign.Models;
@model ArrangementInventory
@{

    ViewData["Title"] = "Update Arrangement Inventory";
}
<h1>Update Arrangement Inventory</h1>
<h2 class="alert-danger">@ViewBag.Result</h2>

<form method="post">
    <div class="form-group">
        <label>Code</label>
        @Model.Code
    </div>

    <div class="form-group">
        <label asp-for="LocationID">Location: </label>
        <select id="ddlLocations" name="ddlLocations" asp-for="LocationID" asp-items='@(new SelectList(ViewBag.Locations, "LocationID","Name"))'></select>
        <label asp-for="LocationPlacementID"> Placement: </label>
        <select id="ddlPlacements" name="ddlPlacements" asp-for="LocationPlacementID" asp-items='@(new SelectList(ViewBag.Placements, "LocationPlacementID", "Code"))'>
        </select>
 <!--        
        <label asp-for="InventoryStatusID"> Status: </label>
        <select id="ddlInventoryStatus" name="ddlInventoryStatus" asp-for="InventoryStatusID" asp-items="@Model.StatusList"></select>
        <div class="form-group">
            <label asp-for="InventoryStatusID">Size</label>
            <div class="col-md-10">
                @Html.DropDownListFor(
                x => x.InventoryStatusID,
                Model.StatusList
                )
            </div>
        </div>
-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script>
            $(function () {
                $("#ddlLocations").change(function () {

                    //var url = '@Url.Content("~/")' + "Arrangement/GetLocationPlacementsByLocation";
                    var url = '@Url.Action("GetLocationPlacementsByLocation","Arrangement")';
                    $.getJSON(url, { id: $('#ddlLocations').val(), SizeID: $('#SizeID').val() }, function (data) {
                        var items = '';
                        $("#ddlPlacements").empty();
                        var rows = data.length;
                        for (let i = 0; i < rows; i++) {
                            var value = data[i].value;
                            var text = data[i].text;
                            items += "<option value='" + value + "'>" + text + "</option>"
                        }
                        $("#ddlPlacements").html(items);
                    });
                });
            });
        </script>

    </div>
    <div class="form-group">
        <input type="hidden" asp-for="LocationID" />
        <input type="hidden" asp-for="SizeID" />
        <input type="hidden" asp-for="ArrangementID" />
    </div>
    <div class="text-center panel-body">
        <br />
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
        <button class="btn btn-sm btn-primary" onclick="javascript:history.go(-1);return false;">Cancel</button>
        <br /><br />
        <a class="btn btn-sm btn-danger" asp-controller="Arrangement" asp-action="InactivateInventory" asp-route-id=@Model.ArrangementInventoryID onclick="return confirm('Are you sure you want to remove this from inventory?')">Remove From Inventory</a>

    </div>

</form>