@using SilkDesign.Models
@model Arrangement
@{
    ViewData["Title"] = "Create Arrangement";
}

<h1>Add Arrangement to Inventory</h1>
<h2 class="alert-danger">@ViewBag.Result</h2>

    @using (Html.BeginForm())
    {
        <div class="col-md-10">
            @Html.LabelFor(model => model.CatalogID, new {@class = "control-label col-md-2"})
            @Html.DropDownListFor(model => model.CatalogID, Model.AvailableCatalogItems, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.CatalogID,"", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            <label asp-for="Quantity"></label>
            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", required="required"})
            @Html.ValidationMessageFor(m => m.Quantity, "", new {@class= "text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WarehouseID, new {@class = "control-label col-md-2"})
            @Html.DropDownListFor(model => model.WarehouseID, Model.WHLocations, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.WarehouseID,"", new {@class = "text-danger"})
        </div>
        <div class="text-center panel-body">
            <br/>
            <button type="submit" class="btn btn-sm btn-primary">Create</button>
            <button class="btn btn-sm btn-primary" onclick="javascript:history.go(-1);return false;">Cancel</button>
        </div>
    }   