@model dynamic
@{
    ViewData["Title"] = "Update Locations";
}

<form method="post">
    @foreach (Location location in Model.Locations)
    {
        <h1>
            Update Location <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>
            <a class="btn btn-sm btn-primary" asp-controller="Location" asp-action="LocationInventoryHistoryList" asp-route-id="@location.LocationID">History</a>
        </h1>

        <div class="form-group">
                <label>Name</label>
                <input class="form-control" asp-for="@location.Name" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" asp-for="@location.Description" />
        </div>
    }
    <p><br />
        <b>Placements</b>
        @foreach (Location location in Model.Locations)
        {
            <a class="btn btn-sm btn-primary" asp-controller="Location" asp-action="CreateLocationPlacement" asp-route-id="@location.LocationID">Add Placement</a>
        }
    </p>
    List the placments for this location and their size.

    <table class="table table-bordered table-striped">
        <tr>
            <th>Placement / Arrangement </th>
            <th>Size</th>
            <th>Quantity</th>
            <th class ="text-center">Edit</th>
        </tr>
        @foreach (LocationPlacement placement in Model.Placements)
        {
            <tr>
                <!-- <td>arrangement.Name</td>-->
                <td>@placement.Description</td>
                <td>@placement.Code</td>
                <td>@placement.Quantity</td>
                <td class="text-center"><a asp-action="UpdateLocationPlacement" asp-route-id="@placement.LocationPlacementID"><img src="~/images/pencil-2-16.png" /></a></td>
            </tr>
        }
    </table>
    <div class="text-center panel-body">
        <br/>
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>
